body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('background1.jpg'); /* Default background image */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-image 0.5s ease; /* Smooth transition for background image */
}

.glass-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    padding: 20px;
    text-align: center;
}

.login-form {
    margin-top: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #3498db;
}

.input-group input {
    width: calc(100% - 30px);
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:hover {
    border-color: #3498db; /* Input border color on hover */
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5); /* Box shadow on hover */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Default button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button color */
}

button:hover {
    background-color: #2980b9; /* Button color on hover */
}

.extra-links {
    text-align: center;
    margin-top: 10px;
}

.extra-links a {
    text-decoration: none;
    color: #3498db;
    margin: 0 5px;
}

.extra-links span {
    color: #333;
}
